<!DOCTYPE html>

<html>

<head>
	<title>My Badass Webpage</title>
</head>

<body>
	<form action="/process_get" method="GET">
    <p>First Name: <input type = "text" name = "first_name"></p>
    <p>Last Name: <input type="text" name="last_name"></p>
    <input type="submit" value="Submit">
  </form>


  <form action="http://127.0.0.1:8081/process_post" method="POST">
    <p>First Name: <input type="text" name="p_first_name"></p>
    <p>Last Name: <input type = "text" name = "p_last_name"></p>
    <input type = "submit" value = "Submit">
	</form>
</body>

</html>